<system 
 uuid="{{ 1000 | random | to_uuid }}"
 name="{{ rom_folder }}"
 fullname="{{ system_name }}"
 platforms="arcade">
    <descriptor path="%ROOT%/mame" theme="mame" extensions=".7z .zip" icon="$F255"/>
    <scraper screenscraper="75"/>
    <properties type="arcade" pad="mandatory" keyboard="no" mouse="no" lightgun="recommended" released
ate="1997-02" retroachievements="1" crt.multiresolution="0" crt.multiregion="0"/>
    <emulatorList>
      <emulator name="libretro">
        <core name="mame2003_plus" priority="1" extensions=".zip .7z" netplay="0" compatibility="high"
 speed="high"/>
        <core name="mame2003" priority="2" extensions=".zip .7z" netplay="0" compatibility="high" spee
d="high"/>
        <core name="mame2000" priority="3" extensions=".zip .7z" netplay="0" compatibility="high" spee
d="high"/>
        <core name="mame2010" priority="4" extensions=".zip .7z" netplay="0" compatibility="high" spee
d="high"/>
        <core name="mame2015" priority="5" extensions=".zip .7z" netplay="0" compatibility="high" spee
d="high"/>
      </emulator>
      <emulator name="advancemame">
        <core name="advancemame" priority="7" extensions=".zip .7z" netplay="0" compatibility="high" s
peed="high"/>
      </emulator>
    </emulatorList>
  </system>